
.v-list-item__content {
  align-items: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  overflow: hidden;
  padding: 12px 0;
}

.hcontainer {

  max-width: 1000px;
  max-height: 100%;
  padding-left: 0px;
}

.list-item__icon {
  display: inline-flex;
  min-width: 24px;
}

.notes {
  max-width: 40%;
}

.notes2 {
  max-width: 90%;
  max-height: 100%;
}